*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.conf_body{
    height: 100vh;
    overflow: hidden;
}

.conf_header{
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%; 
    height: 60px;
    display: none;
    padding: 14px 0;
    background: var(--main-black);
    color: #fff;

}

.conf_header .mobile_menu{
    position: absolute;
    top: 60px;
    width: 100%;
    padding: 20px 0 0;
    z-index: 99;
    background: var(--main-black);
    transform: translateY(30%);
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;;
    
}



.mobile_menu.show_mobile_menu{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.mobile_menu .mobile_menu-items{
    list-style-type: none;
    margin-top: 20px;

}

.mobile_menu-items .mobile_menu-item{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border: none;
    background: transparent;
    padding: 14px 20px;
    width: 100%;
    text-align: left;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.mobile_menu-item > div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.mobile_menu-item span{
    font-size: .79rem;
}

.mobile_menu-item svg{
    width: 30px;
    color: var(--main-white)
}

.mobile_menu-item:hover{
    background-color: #1f1f1fc8;
}

.mobile_menu-item.active{
    background-color: #303030db;
}

.conf_nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.conf_nav-menu a{
    color: var(--main-white)
}

.conf_nav-menu button{
    background: transparent;
    border: none;
}

.conf_nav-menu svg{
    width: 30px;
    color: var(--main-white)
}

.swf_logo{
    color: #fff;
    text-align: center;
    margin: 0 0 50px;
    font-size: 2rem;
}

.conf_main{
    display: flex;
    align-items: flex-start;
    height: 100vh;
}

.conf_main .conf_sidebar_wrapper{
    height: 100%;
    width: 18%;
    min-width: 250px;
    position: relative;
}

.conf_main .conf_sidebar{
    position: absolute;
    overflow-y: auto;
    height: 100%;
    background: var(--main-black) !important;
    width: 100%;
    z-index: 999;
    
}

.conf_sidebar_menu{
    margin-top: 20px;
    list-style-type: none;
}

.conf_sidebar .sidebar_menu-item{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border: none;
    background: transparent;
    padding: 14px 20px;
    width: 100%;
    text-align: left;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}
.conf_sidebar .sidebar_menu-item:hover{
    background-color: #1f1f1fc8;
}

.conf_sidebar .sidebar_menu-item.active{
    background-color: #303030db;
}

.conf_sidebar-header{
    position: sticky;
    top: 0;
    background: var(--main-black);
    padding: 20px 0;
}

.sidebar_menu-item > div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar_menu-item span{
    font-size: .9rem;
}

.sidebar_menu-item svg{
    color: #fff;
    width: 24px;
}

.point-svg svg{
    width: 20px;
}

.product_select_buttons{
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: stretch;
    gap: 20px
}

.product_select_buttons button:nth-child(1){
    flex: 1;
    font-size: .9rem;
}
.product_select_buttons button:nth-child(2){
    flex: 1;
    font-size: .9rem;
}

.sidebar_menu-item:first-child{
    border: none;
}



/* Tools Sidebar */

.tools_sidebar{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0%);
    width: 150%;
    height: 100%;
    background: rgba(5, 5, 5, 0.907);
    color: #fff;
    transition: all 100ms ease-in-out;
    z-index: 99;
    overflow: auto;
}

.tools_sidebar.showModal{
    transform: translate(100%);
    
}


.tools_sidebar_heading{
    position: sticky;
    top: 0;
    background: var(--main-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    z-index: 99;
}

.settings-close-btn{
    width: 30px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

.conf_preview{
    position: relative;
    min-height: 100vh;
    background: url('../../images/f0d947fc-9db0-400d-865b-ed678b86d49b.png') center/cover no-repeat;
    
}

.conf_preview .blur{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-items: center;
    height: 100vh;
    width: 100%;
    background: #dcdedf2d;
    backdrop-filter: blur(100px);
}

.conf_preview .img-fluid{
    width: 90%;
    margin: 0 auto;
    z-index: 999;
}

.conf_preview img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}


/* Door Samples Options */
.tools_sidebar-content{
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

.house-sample{
    border: 2px dashed #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 100%;
    height: 140px;
    cursor: pointer;
}

 .house-sample svg{
    width: 30px;
    color: #fff
}

 .house-sample input{
    display: none;
}


.house-fronts{
    flex: 1;
    list-style-type: none;
    margin: 20px 0;
    overflow-y: auto;
    display: grid;
    gap: 8px;
    
}

.house-front{
    position: relative;
    background: transparent;
    transition: all .5s ease;
    cursor: pointer;
}

.house-front:hover{
    transform: scale(0.9);
}

.house-front img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}


/* Door Frames */

.door-frames{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.door-frames .door-frame{
    position: relative;
    min-height: 150px;
    display: grid;
    place-items: center;
    background: var(--black-opacity);
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: all .5s ease;
}

.door-frames .door-frame:hover{
    transform: scale(0.9);
}

.door-frame img{
    width: 100px;
    height: auto;
    object-fit: cover;
}

.door-frame small{
    margin-top: 20px;
}


.mobile_tools-bar{
    position: relative;
    display: none;
    width: 100%;
    /* flex: 1; */
    padding: 30px 20px;
    background: #000000d1;
    backdrop-filter: blur(150px);
    -webkit-backdrop-filter: blur(150px);
    overflow-y: auto;
    color: var(--main-white);
    z-index: 99;
    
}

.mobile_tools-nav{
    display: none;
    position: sticky;
    bottom: 0;
    background: var(--main-black);
    width: 100%;
    padding: 15px 20px;
    align-items: flex-start;
    justify-content: space-between; 
    z-index: 9999;

}

.mobile_tools-nav button{
    font-size: .9rem;
}


/* Door Types */
.door-types{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 14px;
}

.door-types .door-type{
    position: relative;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all .5s ease;
}

.door-types .door-type:hover{
    transform: scale(0.9);
}

.door-type img{
    width: 100%;
    height: 100%;
    background: var(--black-opacity);
    object-fit: cover;
}

.door-type small{
    margin-top: 20px;
}


/* Colors */

.colors{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
}

.colors .color{
    position: relative;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all .5s ease;
    height: 150px;

}

.colors .color:nth-child(1){
    background: #4f3731;
}

.color:nth-child(2){
    background: #324035;
}

.color:nth-child(3){
    background: #742E30;
}

.color:nth-child(4){
    background: #93949E;
}

.color:nth-child(5){
    background: #2C3B44;
}

.color:nth-child(6){
    background: #3F434C;
}

.color:nth-child(7){
    background: #AD8C4D;
}

.color:nth-child(8){
    background: #742E31;
}

.color:nth-child(9){
    background: #324034;
}
.color:nth-child(10){
    background: #2B4939;
}


.colors .color:hover{
    transform: scale(0.9);
}

/* Materials */

.materials{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 14px;
    row-gap: 24px;
}

.materials .material{
    position: relative;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all .5s ease;
}

.material img{
    width: 100%;
    height: 100%;
    background: var(--black-opacity);
    object-fit: cover;
}

.material small{
    margin-top: 20px;
}


/* Dimension */



.units-form{
    display: grid;
    gap: 12px;
    background: var(--black-opacity);
    padding: 40px 30px;
    border-radius: 10px;
}

.units-form .form-group{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.units-form #units{
    place-self: end;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: var(--main-black);
    color: var(--main-white);
    font-family: "Inter"sans-serif;
}

.units-form .form-group input{
    width: 100%;
    height: 40px;
    font-size: .9rem;
    padding: 10px;
    border-radius: 5px;
    border: none;

}

.units-form #save-units{
    text-align: center;
    font-weight: bold;
    height: 40px;
    
}

.units .help-tips{
    margin-top: 10px;
    font-size: .8rem;

}



























@media(max-width: 768px){
    main{
       flex-direction: column;
       
    }

    .conf_body{
        height: 100%;
        overflow: auto;
    }

    /* .conf_main{
        height: 100%;
    }
     */
    

    .conf_header{
        display: block;
    }
    

    .conf_sidebar_wrapper{
        display: none;
    }
    
    .conf_preview{
        width: 100%;
        
    }

    .conf_preview .blur{
        justify-content: flex-start;
    }

    .conf_preview .blur .img-fluid{
        max-height: 40vh;
        position: sticky;
        top: 60px;
    }

    .mobile_tools-bar{
        display: block;
    }

    .mobile_tools-nav{
        display: flex;
    }


    /* .conf_preview img{
        width: 100%;
        height: inherit;
        object-fit: contain;
        
        
    } */

    

    
}




@media (max-width: 1500px){
    .conf_preview .blur .img-fluid{
        width: 100%;
    }
    .conf_preview .blur{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}