*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal_overlay{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.229);
    backdrop-filter: blur(15px);
    z-index: 99999999;
    height: 100%;
    width: 100%;

}

.summary_details{
    position: absolute;
    top: 50%;
    display: none;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999999999999999999999999999999999999999999;
    background: var(--main-white);
    overflow: auto;
    height: 90%;
    width: 95%;
    border-radius: 5px;
    max-width: 700px;

}

.summary_details-heading{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: var(--main-black);
    color: var(--main-white);
    justify-content: space-between;
}

.summary_details-content{
    padding: 20px;
}

.summary_details-heading h4{
    font-size: 1.2rem;
}

.summary_details-close{
    width: 30px;
    color: var(--main-white);
    background: none;
    border: none;
    cursor: pointer;
}

.summary_details-close svg{
    width: 30px;
}


.conf_body{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.conf_header{
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%; 
    height: 60px;
    /* display: none; */
    padding: 14px 0;
    /* background: var(--main-black); */
    /* background-image: radial-gradient(50% 100% at 80% 80%, rgba(38, 140, 245, 0.25) 0%, rgba(38, 140, 245, 0) 100%); */
    color: #fff;

}

.conf_header_action-buttons{
    display: flex;
    align-items: start;
    gap: 10px;
}

.conf_mobile_menu-toggle{
    display: none;
}

.summary{
    color:  var(--main-black);
    font-size: .9rem;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 8px;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.898) 100%) !important;

}

.summary_mobile{
   display: none;
}

.conf_header .mobile_menu{
    position: absolute;
    display: none;
    overflow-y: auto;
    height: 100vh;
    top: 60px;
    width: 100%;
    padding: 20px 0 0;
    z-index: 9999999999999999999999999999999999999999999999999;
    background: var(--main-black);
    transform: translateY(30%);
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    background-image: radial-gradient(80.1% 100% at 50% 0%, rgba(38, 140, 245, 0.25) 0%, rgba(38, 140, 245, 0) 100%);

    
}

.mobile_menu > div{
    position: sticky;
    top: 0;
}



.mobile_menu.show_mobile_menu{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.mobile_menu .mobile_menu-items{
    list-style-type: none;
    margin-top: 20px;
    height: calc(100vh - 20vh);
    overflow: auto;
}

.mobile_menu-item{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border: none;
    background: transparent;
    padding: 14px 20px;
    width: 100%;
    text-align: left;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.mobile_menu-item > div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.mobile_settings_title{
    display: none
}

.mobile_menu-item span{
    font-size: .79rem;
}

.mobile_menu-item svg{
    width: 30px;
    color: var(--main-white)
}


.mobile_menu-item.active svg{
    width: 30px;
    color: var(--main-black)
}

.mobile_menu-item:hover{
    background-color: rgba(13, 19, 67, 0.87);
}

.mobile_menu-item.active{
    background: linear-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.898) 100%);
    color: var(--main-black);
    font-weight: bold;

}

.conf_nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.helper_buttons{
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-top: 5px;
}

.helper_buttons .swap_view-btn{
    width: 26px;
    height: 26x;
    object-fit: contain;
}

.helper_buttons button svg{
    width: 26px;
}

.conf_nav-menu a{
    color: var(--main-white);
    display: none;
}

.conf_nav-menu button{
    background: transparent;
    border: none;
}

.conf_nav-menu svg{
    width: 30px;
    color: var(--main-white)
}

.swf_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swf_logo img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}



.conf_main{
    display: flex;
    align-items: flex-start;
    height: 100vh;
}

.conf_main .conf_sidebar_wrapper{
    background: var(--main-black);
    height: 100%;
    flex-shrink: 0;
    width: 250px;
    position: relative;
    transition: all 100ms ease-in-out;

}

.conf_main .conf_sidebar_wrapper.showModal{
    width: 600px;
}

.conf_main .conf_sidebar{
    position: relative;
    overflow-y: auto;
    height: 100%;
    background: var(--main-black) !important;
    width: 100%;
    max-width: 250px;
    z-index: 999;
    
}

.conf_sidebar_menu{
    margin-top: 0px;
    list-style-type: none;
}

.conf_sidebar .sidebar_menu-item{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border: none;
    background: transparent;
    padding: 12px 20px;
    width: 100%;
    text-align: left;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}
.conf_sidebar .sidebar_menu-item:hover{
    background-color: rgba(26, 36, 113, 0.305)
}

.conf_sidebar .sidebar_menu-item.active{
    background: linear-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.898) 100%);
    color: var(--main-black);
    font-weight: bold;
}

.sidebar_menu-item.active svg{
    color: var(--main-black);
    font-weight: bold;
}

.conf_sidebar-header{
    position: sticky;
    top: 0;
    background: var(--main-black);
    background-image: radial-gradient(80.1% 100% at 50% 0%, rgba(38, 140, 245, 0.25) 0%, rgba(38, 140, 245, 0) 100%);
    padding: 20px 0;
}

.sidebar_menu-item > div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar_menu-item span{
    font-size: .88rem;
}

.sidebar_menu-item svg{
    color: #fff;
    width: 24px;
    pointer-events: none;
}

.point-svg svg{
    width: 20px;
}

.product_select_buttons{
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: stretch;
    gap: 12px
}

.product_select_buttons button{
    flex: 1;
    font-size: .9rem;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: all .5s ease
}


.product_select_buttons button.active{
    color: #fff;
    background: #2E4CFA;
    border: 1px solid var(--primary-color);
}
  


.sidebar_menu-item:first-child{
    border: none;
}



/* Tools Sidebar */

.tools_sidebar{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%);
    width: calc(600px - 250px);
    height: 100vh;
    background: var(--blue-opacity);
    background-image: radial-gradient(80.1% 100% at 50% 0%, rgba(38, 140, 245, 0.25) 0%, rgba(38, 140, 245, 0) 100%);
    backdrop-filter: blur(100px);
    color: #fff;
    transition: all 100ms ease-in-out;
    z-index: 99;
    /* overflow: auto; */
}

.tools_sidebar.showModal{
    transform: translate(0%);
    /* background: green; */
    
}

.tools_sidebar-content{
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    overflow: auto;
    height: calc(100vh - 140px);
}

.tools_sidebar-bottom-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    background: var(--main-black);
    background-image: radial-gradient(80.5% 100% at 50% 0%, rgba(38, 142, 245, 0.159) 0%, rgba(38, 140, 245, 0) 100%);
    height: 70px;
    padding: 20px;
}

.tools_sidebar-bottom-nav .prev-btn, .tools_sidebar-bottom-nav .next-btn{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #fff;
    background: none;
}

.tools_sidebar-bottom-nav .prev-btn svg, .tools_sidebar-bottom-nav .next-btn svg{
    color: #fff;
    width: 24px;
    margin-top: 5px;
    height: auto;
}


.tools_sidebar_heading{
    position: sticky;
    top: 0;
    background: var(--main-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    padding: 20px 20px;
    z-index: 99;
}

.settings-close-btn{
    width: 30px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

.conf_preview{
    position: relative;
    min-height: 100vh;
    flex: 1;
    width: 100%;
    background-image: radial-gradient(50% 100% at 80% 80%, rgba(38, 140, 245, 0.25) 0%, rgba(38, 140, 245, 0) 100%);

    /* background: url('../../images/f0d947fc-9db0-400d-865b-ed678b86d49b.png') center/cover no-repeat; */
}

.conf_preview .blur{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background:#050719;
    background-image: radial-gradient(80.1% 100% at 0% 0%, rgba(24, 81, 138, 0.25) 0%, rgba(38, 140, 245, 0) 100%);
    backdrop-filter: blur(100px); 
    -webkit-backdrop-filter: blur(100px); 
}

.conf_preview .img-fluid{
    width: 100%;
    max-width: 90%;
    height: auto;
    max-height: 85%;
    overflow: hidden;
    margin: 20px auto 0;
    z-index: 999;
    outline: 2px dashed #aab7ebe2;
    outline-offset: 10px;
    border-radius: 20px;
    box-shadow: 0 0 2em 1em rgba(6, 27, 48, 0.099);
}

.conf_preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


/* Door Samples Options */


.house-sample{
    border: 2px dashed #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 100%;
    height: 140px;
    cursor: pointer;
}

 .house-sample svg{
    width: 30px;
    color: #fff
}

 .house-sample input{
    display: none;
}


.house-fronts{
    list-style-type: none;
    margin: 20px 0;
    display: grid;
    gap: 8px;
    
}

.house-front{
    position: relative;
    background: transparent;
    transition: all .5s ease;
    cursor: pointer;
}

.house-front:hover{
    transform: scale(0.9);
}

.house-front img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}


/* Door Frames */

.door-frames{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.door-frames .door-frame{
    position: relative;
    min-height: 150px;
    display: grid;
    place-items: center;
    background: var(--blue-opacity);
    border-radius: 10px;
    padding: 20px; 
    cursor: pointer;
    transition: all .5s ease;
}

.door-frames .door-frame:hover{
    transform: scale(0.9);
}

.door-frame img{
    width: 90px;
    height: auto;
    object-fit: cover;
}

.door-frame small{
    margin-top: 10px;
}


.mobile_tools-bar{
    position: relative;
    display: none;
    width: 100%;
    height: calc(100vh - 60px - 60px - 40vh);
    padding: 30px 20px;
    background: var(--main-black);
    background-image: radial-gradient(85.1% 100% at 50% 0%, rgba(38, 140, 245, 0.25) 0%, rgba(38, 140, 245, 0) 100%);
    backdrop-filter: blur(150px);
    -webkit-backdrop-filter: blur(150px);
    overflow-y: auto;
    color: var(--main-white);
    z-index: 99;
    
}

.mobile_tools-nav{
    display: none;
    position: sticky;
    bottom: 0;
    background: var(--main-black);
    background-image: radial-gradient(100% 100% at 100% 100%, rgba(38, 140, 245, 0.25) 0%, rgba(38, 140, 245, 0) 100%);
    width: 100%;
    height: 60px;
    padding: 15px 20px;
    align-items: flex-start;
    justify-content: space-between; 
    z-index: 99;
    

}

.mobile_tools-nav button{
    font-size: .9rem;
    background: none;
    color: #fff;
}




/* Door Types */
.door-types{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 14px;
}

.door-types .door-type{
    position: relative;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all .5s ease;
}

.door-types .door-type:hover{
    transform: scale(0.9);
}

.door-type img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: var(--black-opacity);
    object-fit: contain;
}

.door-type small{
    margin-top: 20px;
}


/* Colors */

.colors{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
}

.colors .color{
    position: relative;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 8px;
    transition: all .5s ease;
    height: 135px;

}

.colors .color:nth-child(1){
    background: #4f3731;
}

.color:nth-child(2){
    background: #324035;
}

.color:nth-child(3){
    background: #742E30;
}

.color:nth-child(4){
    background: #93949E;
}

.color:nth-child(5){
    background: #2C3B44;
}

.color:nth-child(6){
    background: #3F434C;
}

.color:nth-child(7){
    background: #AD8C4D;
}

.color:nth-child(8){
    background: #742E31;
}

.color:nth-child(9){
    background: #324034;
}
.color:nth-child(10){
    background: #2B4939;
}


.colors .color:hover{
    transform: scale(0.9);
}

/* Materials */

.materials{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 14px;
    row-gap: 24px;
}

.materials .material{
    position: relative;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all .5s ease;
    
}

.material img{
    width: 100%;
    height: 100%;
    background: var(--black-opacity);
    border-radius: 10px;
    object-fit: contain;
}

.material small{
    margin-top: 20px;
}


/* Dimension */



.units-form{
    display: grid;
    gap: 12px;
    border-radius: 10px;
}

.unit-box{
    display: grid;
    gap: 10px;
    background: var(--blue-opacity);
    padding: 20px;
    border-radius: 10px;
}

.unit-box span{
    font-size: .9rem;
}

.units-form .form-group{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.units-form #units{
    place-self: end;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: var(--main-black);
    color: var(--main-white);
    font-family: "Inter"sans-serif;
}

.units-form .form-group input{
    width: 100%;
    height: 40px;
    font-size: .8rem;
    color: #eee;
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: 1px solid #eeeeeec7;

}

.form-group input::placeholder{
    color: #ffffffb7;
}

.units-form #save-units{
    text-align: center;
    /* font-weight: bold; */
    height: 40px;
}

.units .help-tips{
    margin-top: 10px;
    font-size: .8rem;

}

/* Done Download PDF */

.download_pdf{
    display: grid;
    gap: 20px;
    background: url('../../images/LLIItUHupcoa2e70KVTuDzjQk.avif') center/cover no-repeat;
    padding: 20px;
    border-radius: 10px;
}

.quote_form{
    display: grid;
    margin: 20px 0;
}

.quote_form-heading{
    margin: 20px 0;
}

.quote_form-heading h4{
    margin: 10px 0;
    font-size: 1.2rem;
}

.quote_form-heading p{
    font-size: .9rem;
}

.quote_form .row{
    display: flex;
    width: 100%;
    gap: 10px;
}

.quote_form .form-group{
    margin-bottom: 10px;
    width: 100%;
}

.quote_form .form-group label{
    display: none;
}

.quote_form .form-group input{
    width: 100%;
    height: 40px;
    font-size: .8rem;
    color: #eee;
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: 1px solid #eeeeeec7;
}

.download_pdf p{
    font-size: .9rem;
}

.download_pdf button{
    place-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 4px 14px;
}

.download_pdf button p{
    font-size: .9rem;
}

.download_pdf button svg{
    width: 20px;
}


/* Door Model */

.door_model .door_model-options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 99999;
    gap: 10px;
    margin-bottom: 30px;
}

.door_model-options button{
    font-size: .8rem;
}

.door_model-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 14px;
}



.door_model-images .door_model-image{
    position: relative;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all .5s ease;
}

.door_model-image img{
    width: 100%;
    height: 100%;
    background: var(--black-opacity);
    object-fit: contain;
}

.door_model-images .door_model-image:hover{
    transform: scale(0.9);
}


.door_model-images .door_model-image small{
    margin-top: 20px;
}

/* Side Panels */
.side_panel{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 14px;
    list-style: none;
}

.side_panel-image{
    position: relative;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all .5s ease;
}

.side_panel-image:hover{
    transform: scale(0.9);
}


.side_panel-image img{
    width: 100%;
    height: 100%;
    background: var(--black-opacity);
    object-fit: contain;
}
























@media(max-width: 768px){
    main{
       flex-direction: column;
       
    }

    /* .conf_body{
        height: 100%;
        overflow: auto;
    } */

    .conf_header .mobile_menu{
        display: block;
        height: 100dvh;
    }

    .conf_mobile_menu-toggle{
        display: block;
    }

    .summary{
        display: none;
    }

    .summary_mobile{
        display: block;
    }

    /* .conf_main{
        height: 100%;
    }
     */
    

    

    .conf_nav-menu .helper_buttons{
        display: none
    }
    

    .conf_sidebar_wrapper{
        display: none;
    }
    
    .conf_preview{
        width: 100%;
        
    }

    .conf_preview .blur{
        justify-content: flex-start;
    }

    .conf_preview .img-fluid{
        position: sticky;
        top: 60px;
        width: 100%;
        max-width: 100%;
        max-height: 40vh;
        border-radius: 0;
        outline: 0;
        margin: 0
    }


    .mobile_tools-bar{
        display: block;
    }

    .mobile_tools-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
    }

    .conf_nav-menu{
        justify-content: space-between;
    }

    .conf_nav-menu a{
        display: block;
    }

    .mobile_settings_title{
        display: block
    }

    /* .conf_preview img{
        width: 100%;
        height: inherit;
        object-fit: contain;
        
        
    } */

    .door-frames{
        grid-template-columns: repeat(3, 1fr);
    }
    
    .door-frames .door-frame{
        background: none;
        padding: 10px;
    }
    
    .door-types{
        grid-template-columns: repeat(3, 1fr);
    }
    
    .materials{
        grid-template-columns: repeat(3, 1fr);
    }

    

    
}


@media (max-width: 1000px){
    .conf_main .conf_sidebar_wrapper{
        background: var(--main-black);
        height: 100%;
        flex-shrink: 0;
        width: 250px;
        position: relative;
        transition: all 100ms ease-in-out;
    
    }
    
    .conf_main .conf_sidebar_wrapper.showModal{
        width: 250px;
    }

    .conf_sidebar{
        position: absolute;
    }

    .tools_sidebar{
        position: absolute;
        right: 0;
    }

    .tools_sidebar.showModal{
        transform: translateX(100%);
    }

    .conf_header{
        display: block;
        display: flex;
        align-items: center;
    }

    .swf_logo-mobile{
        display: grid;
        place-items: center;
    }
    
    .swf_logo-mobile img{
        width: 70px !important;
        height: 70px !important;
        object-fit: contain;
    }
}




@media (max-width: 1500px){
    .conf_preview .blur .img-fluid{
        width: 100%;
    }
    .conf_preview .blur{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}