@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

small{
    font-family: 'Inter', sans-serif;
    margin-top: 2px;
    font-size: 12px;
}

p, a, button, label, li {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Inter', sans-serif;
}

input{
    font-family: 'Inter', sans-serif;
}



a {
    text-decoration: none;
}


@media (max-width: 1000px) {
    h1 {
        font-size: 32px;
    }
}