/* margin-top */
.mt-1 { margin-top: 10px ;}
.mt-2 { margin-top: 20px ;}
.mt-3 { margin-top: 30px ;}
.mt-4 { margin-top: 40px ;}
.mt-5 { margin-top: 50px ;}
.mt-6 { margin-top: 60px ;}

/* margin-bottom */
.mb-1 { margin-bottom: 10px ;}
.mb-2 { margin-bottom: 20px ;}
.mb-3 { margin-bottom: 30px ;}
.mb-4 { margin-bottom: 40px ;}
.mb-5 { margin-bottom: 50px ;}
.mb-6 { margin-bottom: 60px ;}

.pt-1 { margin-top: 10px ;}
.pt-2 { margin-top: 20px ;}
.pt-3 { margin-top: 30px ;}
.pt-4 { margin-top: 40px ;}
.pt-5 { margin-top: 50px ;}
.pt-6 { margin-top: 60px ;}

.pb-1 { margin-bottom: 10px ;}
.pb-2 { margin-bottom: 20px ;}
.pb-3 { margin-bottom: 30px ;}
.pb-4 { margin-bottom: 40px ;}
.pb-5 { margin-bottom: 50px ;}
.pb-6 { margin-bottom: 60px ;}

.container{
    width: 90%;
    margin: 0 auto;
}

.gradient-text {
    color: transparent;
    background-image: linear-gradient(97deg, rgb(255, 255, 255) 0%, rgb(127, 182, 213) 100%);
    background-clip: text;
    font-weight: bold;
    -webkit-background-clip: text;
}

::-webkit-scrollbar-thumb {
    background: var(--main-white);
    border-radius: 10px;

}

::-webkit-scrollbar {
    width: 3px;
    height: 2px;
    background: transparent;
}


.selected{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: blue;
    z-index: 999;
}

.selected svg{
    color: #fff;
    width: 16px;
    font-weight: bold;
    stroke-width: 6px;
}


.blurred-img {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(209, 213, 219, 0.461);
  }
  
  
  
  .blurred-img::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    background-color: rgba(255, 255, 255, 0.57);
  }
  
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
  }
  
  .blurred-img img {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }
  
  .blurred-img img.loaded {
    opacity: 1;
  }

  div.blurred-img.loaded{
    background: none !important;
  }
  
  .blurred-img.loaded::before {
    animation: none;
    content: none;
  }
  